---
import Base from "../../layouts/Base.astro";
---
<Base title="Websites for Professional Services | Web Dhiveloper" description="Credible, fast sites for surveyors, architects, accountants and more.">
  <h1>Websites for Professional Services</h1>
  <p class="mt-4">We understand professional trust signals: qualifications, case studies, fees and response times. We make them obvious and keep them up to date.</p>
  <a href="/packages" class="btn mt-4">See packages</a>
</Base>
